/* Reset some default browser styles */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.4s, transform 0.4s; 
}

/* Add a color change and scaling effect on hover */
nav ul li a:hover {
    color: #ff6600;
    transform: scale(0.5);
}

section {
    padding: 40px;
}

section h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.project {
    margin-bottom: 40px;
}

.project img {
    max-width: 100%;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
